{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for item in product %}
            <li>
                <h2>{{ item.name }}</h2>
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
                <p>{{ item.description }}</p>
                <p>Price: ${{ item.price }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
